<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Item</title>
    <p><a href={% url "todo_list_list" %}>Main</a></p>
</head>
<body>
    <h1>Create a new item</h1>
    <main>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
        </form>
    </main>
</body>
</html>
