<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete List</title>
</head>
<body>
    <h1>Delete List</h1>
    <main>
        <p><a href={% url "todo_list_list" %}>Main</a></p>
        <form method="post">
        {% csrf_token %}
        <button>Delete</button>
        </form>
    </main>
</body>
</html>
