<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <main>
        <div>
            <h1>{{ task_detail }}</h1>
            <h2>Tasks</h2>
            <p><a href={% url "todo_list_list" %}>Main</a></p>
            <p><a href={% url "todo_list_update" task_detail.id %}>Edit</a>
            <p><a href={% url "todo_list_delete" task_detail.id %}>Delete</a></p>
            <p><a href={% url "create_item"  %}>Create Item</a></p>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                    <th>Completed</th>
                </tr>
                {% for item in task_detail.items.all %}
                <tr>
                    <td><a href={% url "todo_item_update" item.id %}> {{ item.task }}</a></td>
                    <td> {{ item.due_date|date:"M d, Y" }}</td>
                    <td> {{ item.is_completed }}</td>
                </tr>
                {% endfor %}

            </table>

        </div>
    </main>

</body>
</html>
