<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p><a href={% url "todo_list_create" %}>Create List</a></p>
            <p><a href={% url "todo_list_list" %}>Main</a></p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                {% for item in todo_list %}
                <tr>
                    <td><a href={% url 'todo_list_detail' item.id %}>{{ item.name }}</a></td>
                    <td>{{ item.items.all|length }}</td>
                {% endfor %}
        </div>
    </main>

</body>
</html>
